<!-- Describe task in general -->

<p>
    Я переконаний, ти чув про логічні головоломки з малювання картинок - <a target="_blank" href="https://en.wikipedia.org/wiki/Nonogram">нонограми</a>,
    і розв'язував їх. Ця місія - протилежна: ти вже маєш бінарне зображення,
    сформоване з рядків однакової довжини, де порожні клітинка тла - це пробіли і
    клітинки зображення заповнені символом "X".
</p>
<p>
    Твоя ціль - створити нонограму з цього зображення: написати числові підказки
    для розв'язку цього зображення, наче воно приховане.
    Твоя функція повинна повертати {% if is_js %}масив із двох масивів{% else %}список із двох списків{% endif %}.
    Перший складається з {% if is_js %}масивів{% else %}списків{% endif %} з числами підказок для колонок, другий -
    числа підказок для рядків. Всі {% if is_js %}масиви{% else %}списки{% endif %} у підказках для колонок, так само як і для рядків,
    повинні бути однакової "глибини" (доповнені 0). Давай побачимо це все на прикладі:
    <br />
    <br />
    <pre class="brush: python">
example = [' X X ',
           'X X X', 
           ' X X ']
    </pre>
    Приклад із розв'язком, щоб побачити всю ідею:
    <br />
    <br />
    <pre class="brush: python">
         columns clue = [[0, 1, 0, 1, 0],
                         [1, 1, 1, 1, 1]]
rows clue = [[0, 1, 1], [' X X ',
             [1, 1, 1],  'X X X',
             [0, 1, 1]]  ' X X ']
    </pre>
    Тож, для цього прикладу, твоя функція повинна повертати наступне:
    <br />
    <br />
    <pre class="brush: python">
nonogram_encode(example) = [[[0, 1, 0, 1, 0],
                             [1, 1, 1, 1, 1]],
                            [[0, 1, 1],
                             [1, 1, 1],
                             [0, 1, 1]]]
# те ж саме, неформатовано
[[[0, 1, 0, 1, 0], [1, 1, 1, 1, 1]], [[0, 1, 1], [1, 1, 1], [0, 1, 1]]]
    </pre>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} рядків.
</p>

<p>
    <strong>Вихідні дані:</strong> {% if is_js %}Масив із двох масивів{% else %}Список із двох списків{% endif %}.
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Як це використати:</strong>
    <i>Допоможе тобі, коли ти вирішиш створити власний логічний пазл з малюнку.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Передумови:</strong>
    <ul>
    <li><i>len(data[i]) == len(data[0])</i></li>
    <li><i>set(data[i]) == set([' ', 'X'])</i></li>
    <li><i>для вихідних {% if is_js %}масивів{% else %}списків{% endif %}: len(list[i]) == len(list[0])</i></li>
    </ul>
</p>
