<!-- Describe task in general -->

<p>
    I believe you love the picture logic puzzles called <a target="_blank" href="https://en.wikipedia.org/wiki/Nonogram">nonograms</a> 
    and have solved many of them. This mission is the opposite: you already have a binary image, formed by strings of equal length, 
    where a background empty cell contains whitespace and a picture cell contains 'X'.
</p>
<p>
    Your goal is to create a nonogram based upon the image: write number clues for solving the image like it was hidden. Your function 
    should return {% if is_js %}an Array of two Arrays{% else %}a list of two lists{% endif %}. The first one consists of 
    {% if is_js %}Arrays{% else %}lists{% endif %} with numbers for the columns' clues and the second one 
    contains the same for the rows' clues. All {% if is_js %}Arrays{% else %}lists{% endif %} of the columns' clues, as well as of 
    the rows' clues, should be of the same 'depth' (complemented with 0). Let's see an example:
    <br />
    <br />
    <pre class="brush: python">
example = [' X X ',
           'X X X', 
           ' X X ']
    </pre>
    Example with solution to see the whole idea:
    <br />
    <br />
    <pre class="brush: python">
    columns clue 01010
                 11111
rows clue 0 1 1 ' X X '
          1 1 1 'X X X'
          0 1 1 ' X X '
    </pre>
    So, for this example your function should return the following:
    <br />
    <br />
    <pre class="brush: python">
result = [[[0, 1, 0, 1, 0],
           [1, 1, 1, 1, 1]],
          [[0, 1, 1],
           [1, 1, 1],
           [0, 1, 1]]]
# the same, non formatted view
[[[0, 1, 0, 1, 0], [1, 1, 1, 1, 1]], [[0, 1, 1], [1, 1, 1], [0, 1, 1]]]
    </pre>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}Array{% else %}List{% endif %} of strings.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}Array of 2 arrays{% else %}List of 2 lists{% endif %}.
</p>

<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>Helps you when you decide to create your own type of picture logic puzzle.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>len(data[i]) == len(data[0])</i>;</li>
    <li><i>set(data[i]) == set([' ', 'X'])</i>;</li>
    <li><i>for {% if is_js %}Arrays{% else %}lists{% endif %} in output: len(list[i]) == len(list[0])</i>.</li>
    </ul>
</p>
